/* 初期設定 */

* {
    box-sizing: border-box;
}

body {
    color: #2a120a;
    background-color: #4c372B;
}

figure {
    padding: 0;
    margin: 0;
}

main {
    padding: 5px;
    margin-bottom: 10px;
}

header {
    margin-bottom: 10px;
}

/* ヘッダー */
.header_logoImage {
    /* 画像小さくしている */
    width: 50%;
}

.header_ImageWrapper {
    position: relative;
    width: 100%;
}

.header_ImageWrapper nav {
    position: absolute;
    bottom: 6px;
    width: 100%;
}

.header_ImageWrapper img {
    width: 100%;
}

.header_menuList {
    /* 横並びにする */
    display: flex;
    /* 横並びいっぱいにする */
    justify-content: space-around;
}

.header_menuList li {
    width: 150px;
    text-align: center;
}

.header_menuList li:hover {
    /* 二つ以上の色の間で、連続的な直線の変化から構成される画像 */
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.header_menuList a {
    display: block;
    width: 100%;
    /* フォントの種類 */
    font-family: serif;
    color: #fff;
    font-size: 20px;
    text-shadow: 2px 2px 5px #000;
    /* 下線の表示（この場合は表示なし） */
    text-decoration: none;
}

.wrapper {
 /* コンテンツとサイドバー横並び */
 display: flex;
}

.content {
    /* 加減乗除の計算。この場合100%のうち250px分 */
    width: calc(100% -250px);
    margin-right: 10px;
    padding: 5px;
    border: 3px dotted #7e442f;
    background-color: #fceddb;
}

.sidebar{
    width: 240px;
    padding: 5px;
    border: 3px dotted #7e442f;
    background-color: #fceddb;
}

.notice{
    padding: 5px 10px;
}

.notice h1 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    border-bottom: 3px solid #7e442f;
}

.table_wrapper {
    /* ボックスに入りきらない内容は一般的にはスクロールで表示 */
    overflow: auto;
    height: 180px;
}

.table {
    font-size: 15px;
}

.table th {
    font-weight: top;
    /* 垂直方向の配置を指定 */
    vertical-align: top;
}

/* tdの1番目の要素にCSSを適用する */
.table td:nth-of-type(1) {
    vertical-align: top;
}

.pickup_menu ul {
    /* 横並びにする */
    display: flex;
    /* 横並びいっぱいにする */
    justify-content: space-around; 
}

.pickup_menu li {
    /* 幅いっぱい（100%）から、50pxの固定幅を引いた数値を指定したものを3等分 */
    width: calc((100% - 10px) / 3);
    padding: 5px;  
}

.eventlist {
    margin: 0 0 10px 0;
}

.eventlist li {
    padding: 5px;
}

最後から数えて1番目の要素以外にCSSを適用
.eventlist li:not (:nth-last-of-type(1)) {
    margin-bottom: 5px;
}

.eventlist figure {
    text-align: center;
}

main,
footer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    background-size: 12px 12px;
    background-image: linear-gradient(0deg, #f2dec8 0%, #f2dec8 50%, #e5caab 50%, #e5caab 100%);
}

footer {
    height: 1.5em;
    text-align: center;
}

h1 {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

.social {
    margin: 0;
}

.social li {
    text-align: center;
}

.icons {
    display: flex;
    /* アイテムの間にスペースを均等に割り付け */
    justify-content: space-between;
    margin: 0;
}