/* ヘッダー */
.header_logoImage {
    width: 50%;
}

.image_wrapper {
    display: flex;
    justify-content: space-around;
}

.image_wrapper ul li {
    width: 150px;
    text-align: center;
}

.image_wrapper ul li a {
    
}